/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import "variables";

html, body{
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 20px;
}


.icon-button{
  background: transparent;
  border:none;
}

.icon-button:hover{
  cursor: pointer;
}

.icon-button:focus{
  outline: 0;
}

.match-container{
  flex-direction: row;
  display: flex;
  min-width: 350px;
}

.match-container *{
  padding: 2px;
}

.score-field{
  width: 30px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 3px;
  margin: 0px 2px 0px 2px;
}

.error{
  color: indianred;
}

.country-flag{
  border: 1px solid lightgrey;
  padding: 0px;
}


mat-expansion-panel{
  overflow: hidden;
}