/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import "variables";

html, body{
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
  height: 100%;
  width: 100%;
  margin: 0;
}
