/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import "variables";

html, body{
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 12px;
}


.icon-button{
  background: transparent;
  border:none;
}

.icon-button:hover{
  cursor: pointer;
}

.icon-button:focus{
  outline: 0;
}

.match-container{
  flex-direction: row;
  display: flex;
}

.match-container *{
  padding: 2px;
}

.score-field{
  max-width: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 3px;
  margin: 0px 2px 0px 2px;
  flex-shrink: 1;
}

.error{
  color: indianred;
}

.country-flag{
  border: 1px solid lightgrey;
  padding: 0px;
}


mat-expansion-panel{
  overflow: hidden;
}

.mat-expansion-panel-body{
  padding: 0 0 0 0 ;
}

@media screen and (max-width: 400px) {
  .team-name {
      font-size: 10px;
  }
}

@media screen and (min-width: 600px) {
  .team-name , .group-standing-container{
      font-size: 15px;
  }

  .score-field{
    max-width: 40px;
  }

}