<div class="match-container">
  <span class="team-container  hometeam-container">
    <mat-checkbox class="example-margin"
     labelPosition="before" 
     (change)="homeTeamWinsChanged($event)"
     [(ngModel)]="match.homeTeamWins"
     [disabled]="match.homeTeamName === undefined">
     {{match.homeTeamName}}
    </mat-checkbox>
  </span>
  <span>-</span>
  <span class="team-container outteam-container">
      <mat-checkbox class="example-margin" 
      (change)="outTeamWinsChanged($event)" 
      [(ngModel)]="match.outTeamWins"
      [disabled]="match.outTeamName === undefined">
      {{match.outTeamName}}
    </mat-checkbox>
    </span>
</div>