:host>div{
    display: flex;
    flex-direction: row;
}

:host > div > div:first-child{
    width: 140px;
}

:host > div > div{
    font-size: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    border: solid gray 1px;
    padding: 2px;
}

.group-match{
    flex-basis: 30px;
}

.round-match{
    flex-basis: 80px;
}

.not-complete{
    color: red;
}

.email{
    width: 200px;
}

app-overview-round:first-child{
    width: 800px
}

app-overview-round:nth-child(2){
    width: 300px
}

app-overview-round:nth-child(3){
    width: 125px
}

app-overview-round:nth-child(4){
    width: 50px
}