<div class="group-matches-container" >
  <app-group-match *ngFor="let match of group.matches" [groupMatch]="match" (change)="matchChanged()" ></app-group-match>
</div>
<div class="group-standing-container">

  <table>
    <thead>
      <tr>
        <th>Ploeg</th>
        <th>w</th>
        <th>v</th>
        <th>g</th>
        <th>gs</th>
        <th>gt</th>
        <th>p</th>
      </tr>
    </thead>
  <tbody>
  <tr *ngFor="let team of group.teams">
    <td>{{team.name}}:</td>
    <td>{{team.matchesWon}}</td>
      <td>{{team.matchesLost}}</td>
      <td>{{team.matchesDrawed}}</td>
      <td>{{team.goalsScored}}</td>
      <td>{{team.goalsConcieved}}</td>
      <td>{{team.points}}</td>
      </tr>
  </tbody>
  </table>
  <!-- <div>
    {{group.groupNeedsDraw}}
  </div> -->
</div>
