<h4>Groupen:</h4>
<mat-accordion>
  <mat-expansion-panel *ngFor="let group of groups; let index = index;"
                       (opened)="openedPanel(index)" (closed)="closedPanel(index)"
                        [expanded]="panelIsOpen(index)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{group.groupname}}
      </mat-panel-title>
      <mat-panel-description>
        <span *ngIf="group.allMatchesPlayed" class="material-icons">done</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-group [group]="group" (groupChanged)="groupChanged($event)" ></app-group>
  </mat-expansion-panel>
</mat-accordion>
