::ng-deep.input-row{
  display: flex;
  flex-direction: row;
  max-height: 80px;
}

::ng-deep.input-row mat-form-field{
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
  flex-shrink: 1;
}


::ng-deep.button-row{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

::ng-deep.button-row  button{
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}


#welcome-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#welcome-screen > *{
  padding: 10px;
}

#welcome-screen > div > button{
  margin: 0px 10px 0px 10px;
}

