<!--The content below is only a placeholder and can be replaced.-->


<div *ngIf="!(authService.userIsLoggedIn$ | async)" id="welcome-screen">
  <h3>
    Welkom op de pronostiek!
  </h3>
 <img width="auto" alt="De Jackies"  src="../assets/images/logo_jackies.jpg">
  <div>
    <button color="primary" mat-raised-button (click)="openSignupDialog()">Schrijf je in</button>
    <button color="primary" mat-raised-button (click)="openLoginDialog()">Meld je aan</button>
    <button (click)="get()">test</button>
  </div>
</div>
<div *ngIf="(authService.userIsLoggedIn$ | async)">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <router-outlet></router-outlet>
</div>


