<form  novalidate [formGroup]="profileFormGroup">
  <div></div>
  <mat-form-field >
    <input matInput placeholder="Voornaam*" formControlName="firstNameFormControl" [(ngModel)]="user.firstname">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Achternaam*" formControlName="lastNameFormControl" [(ngModel)]="user.lastname">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Username*" formControlName="userNameFormControl" [(ngModel)]="user.username">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="email*" formControlName="emailFormControl" type="email" [(ngModel)]="user.email">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="password*" formControlName="passwordFormControl" type="password" [(ngModel)]="user.password">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Confirm password*" formControlName="confirmPasswordFormControl" type="password">
  <!--<mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>-->
  </mat-form-field>
  <!--
<p>{{profileFormGroup.value | json}}</p>
  <p>{{profileFormGroup.status}}</p>
  <p>{{profileFormGroup.dirty}}</p>
  <p>{{profileFormGroup.t}}</p>
 -->


</form>
