
<form  novalidate [formGroup]="profileFormGroup" (ngSubmit)="onSubmit()">
  <div class="error">
    {{(userService.userSignUpFailedMessage$ | async)?.message}}
  </div>
  <div class="input-row">
    <mat-form-field>
      <input matInput placeholder="Voornaam*" formControlName="firstNameFormControl" [(ngModel)]="user.firstname">
      <mat-error>Verplicht</mat-error>
    </mat-form-field>
    </div>
    <div class="input-row">
  <mat-form-field>
      <input matInput placeholder="Achternaam*" formControlName="lastNameFormControl" [(ngModel)]="user.lastname">
      <mat-error >Verplicht</mat-error>
    </mat-form-field>
  </div>
  <div class="input-row">
  <mat-form-field >
    <input matInput placeholder="Gebruikersnaam*" formControlName="userNameFormControl" [(ngModel)]="user.username">
    <mat-error *ngIf="profileFormGroup.get('userNameFormControl').errors &&
                        profileFormGroup.get('userNameFormControl').errors.required">Verplicht</mat-error>
    <mat-error *ngIf="profileFormGroup.get('userNameFormControl').errors &&
                        profileFormGroup.get('userNameFormControl').errors.userNameInUse">
      Username in gebruik
    </mat-error>
  </mat-form-field>
  </div>
  <div class="input-row">
    <mat-form-field >
      <input matInput placeholder="email*"  formControlName="emailFormControl" type="email" [(ngModel)]="user.email">
      <mat-error *ngIf="profileFormGroup.get('emailFormControl').errors &&
                        profileFormGroup.get('emailFormControl').errors.required">Verplicht</mat-error>
      <mat-error *ngIf="profileFormGroup.get('emailFormControl').errors &&
                        profileFormGroup.get('emailFormControl').errors.email">ongeldige email</mat-error>
      <mat-error *ngIf="profileFormGroup.get('emailFormControl').errors &&
                        profileFormGroup.get('emailFormControl').errors.emailInUse">
        Email in use
      </mat-error>
    </mat-form-field>
  </div>
  <div class="input-row">
  <mat-form-field >
    <input matInput placeholder="paswoord*" formControlName="passwordFormControl" type="password" [(ngModel)]="user.password">
    <mat-error>There is an error</mat-error>
  </mat-form-field>
  </div>
  <div class="input-row">
  <mat-form-field >
    <input matInput placeholder="bevestig paswoord*" formControlName="confirmPasswordFormControl" type="password">
    <mat-error *ngIf="profileFormGroup.get('confirmPasswordFormControl').errors &&
                        profileFormGroup.get('confirmPasswordFormControl').errors.required">Verplicht</mat-error>
    <mat-error *ngIf="profileFormGroup.get('confirmPasswordFormControl').errors &&
                        profileFormGroup.get('confirmPasswordFormControl').errors.MatchPassword">
      Password do not match!
    </mat-error>
  </mat-form-field>
  </div>
  <div class="input-row">
    <mat-form-field>
      <input matInput placeholder="Code" formControlName="codeFormControl" type="text">
      <mat-error *ngIf="profileFormGroup.get('codeFormControl').errors">Verplicht</mat-error>
    </mat-form-field>
  </div>
  <div class="button-row">
    <button color="primary" mat-raised-button (click)="canceled.emit()">Annuleren</button>
    <button  type="submit" mat-raised-button>Ok</button>
  </div>
</form>

