<app-header (toggleSideNav)="sideNavToggled()"></app-header>
<mat-sidenav-container class="content-container">
  <mat-sidenav mode="over" [opened]="sideNavOpen">
    <div (click)="sideNavToggled()" routerLink="/pronostiek" class="menu-item" routerLinkActive="active-link">Mijn Pronostiek</div>
    <div (click)="sideNavToggled()" routerLink="/klassement" class="menu-item" routerLinkActive="active-link">Klassement</div>
    <div (click)="sideNavToggled()" routerLink="/codes" class="menu-item" routerLinkActive="active-link" *ngIf="userService.userIsAdmin$ | async">Codes</div>
    <div (click)="sideNavToggled()" routerLink="/users" class="menu-item" routerLinkActive="active-link" *ngIf="userService.userIsAdmin$ | async">Users</div>
    <div (click)="sideNavToggled()" routerLink="/overview" class="menu-item" routerLinkActive="active-link" *ngIf="userService.userIsAdmin$ | async">Overzicht</div>
    <div (click)="sideNavToggled()" routerLink="/ref-pronostiek" class="menu-item" routerLinkActive="active-link" *ngIf="userService.userIsAdmin$ | async">Referentie Pronostiek</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
